body {
    position: relative;
    margin: 0;
}

.app-wrapper {
    min-height: 100vh;
}

.app-content-wrapper {
    display: grid;
    grid-template-columns: 0.15fr 1.05fr 1.8fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . .";
    column-gap: 1em;
    min-height: inherit;
}

.app-content-wrapper > div:nth-child(3) {
    padding: 1em;
}

.tasks-wrapper > div:first-child { 
    margin-top: 2rem;
    text-align: center;
}

.App {
    overflow-x: hidden;
}