@import "https://cdn-app.sberdevices.ru/shared-static/0.0.0/styles/SBSansText.0.1.0.css";
@import "https://cdn-app.sberdevices.ru/shared-static/0.0.0/styles/SBSansDisplay.0.1.0.css";

.cal-wrapper {
    position: relative;
}

.calendar-container {
    position: sticky;
    top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.react-calendar {
    /* background: rgb(20,116,70);
    background: linear-gradient(90deg, rgba(20,116,70,0.6) 20%, rgba(0,133,255,0.1) 50%, rgba(6,22,33,1) 90%); */
    background: rgb(20,116,70);
    background: linear-gradient(90deg, rgba(20,116,70,0.6) 20%, rgba(0,133,255,0.1) 80%);
    color: #2cb049;
    box-shadow: 0 12px 24px rgb(63, 147, 90);
    font-family: "SB Sans Text", "SB Sans Display";
    line-height: 1.125em;
    padding: 1rem;
    border-radius: 10px;
}

.react-calendar > button {
    border-radius: 6px;
}

.react-calendar--doubleView {
    width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.react-calendar button {
    font-family: "SB Sans Text";
    font-size: 18px;
    font-weight: bolder;
    margin: 0;
    border: 0;
    outline: none;
    transition: .15s all ease-in-out;
}
.react-calendar button:enabled:hover {
    cursor: pointer;
}
.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
}
.react-calendar__navigation button {
    color: #2cb049;
    min-width: 44px;
    background: none;
    font-family: "SB Sans Text";
    font-size: 20px;
}
.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
}
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-family: "SB Sans Text";
    font-weight: bold;
    font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}

.react-calendar__month-view__days__day--weekend {
    color: #da4343;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SB Sans Text";
    font-size: 0.75em;
    font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #4d504d;
}
.react-calendar__year-view__months__month {
    color: white;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
    color: white;
}
.react-calendar__tile {
    max-width: 100%;
    padding: 30px 6.6667px;
    background: none;
    font-family: "SB Sans Text";
    text-align: center;
    line-height: 16px;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #ceeed5;
    color: #2cb049;
}
.react-calendar__tile--now {
    background: #3c8353;
    border-radius: 6px;
    font-family: "SB Sans Text";
    font-weight: bold;
    color: #2cb049;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #3c8353;
    font-family: "SB Sans Text";
    font-weight: bold;
    color: #2cb049;
}
.react-calendar__tile--hasActive {
    background: #64a165;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #ceeed5;
}
.react-calendar__tile--active {
    background: #2cb049;
    font-family: "SB Sans Text";
    font-weight: bold;
    color: #ceeed5;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #2cb049;
    color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #9ce7ac;
}
.react-calendar__tile--range {
    background: #9ce7ac;
    color: #2cb049;
    border-radius: 0;
}
.react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #2cb049;
    color: white;
}
.react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #2cb049;
    color: white;
}

.reset-date-button {
    
    padding: 1rem !important;
}

@media screen and (max-width: 1080px) {
    .react-calendar__tile {
        padding: 15px 6.667px;
    }
}