.task-item {
    margin: 8px;
    max-width: 40vw !important;
}

.task-item > span {
    white-space: normal !important;
    text-overflow: initial !important;
}

/* This is needed to remove user agent default margin. */
.task-item > input {
    margin: 0;
}

.task-item.task-item-isCompleted {
    text-decoration: line-through;
    color: #a19797;
}